body{
    background-color: #e3dfba;
}
header{
    height: 100px;
    background-color:#93ccc6;
}

footer{
    height: 100px;
    background-color: #93ccc6;
}

input{
    background-color: #6cbdb5;
    border-radius:10px;
    border-color:  black;
}

button{
    background-color: #c8d6bf;
    border-radius:  7px;
}

main{
    height: 100px;
}